[Unit]
Description=Bley greylisting daemon
Wants=postgresql.service mysql.service
After=network.target remote-fs.target nss-lookup.target postgresql.service mysql.service

[Service]
Type=forking
User=bley
RuntimeDirectory=bley
PermissionsStartOnly=true
ExecStartPre=-/usr/bin/mkdir -p  /var/run/bley
ExecStartPre=/usr/bin/chown -R bley:bley  /var/run/bley /var/log/bley /var/lib/bley
ExecStart=/usr/bin/bley -c /etc/bley/bley.conf -p /var/run/bley/bley.pid
PIDFile=/var/run/bley/bley.pid

[Install]
WantedBy=multi-user.target

